@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-sentraBlack: #111111;
  --color-sentraGray: #191919;
  --color-sentraYellow: #e2e600;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-poppins);
    background-color: var(--color-sentraBlack);
    color: white;
    margin: 0;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}